효율적인 연산을 위한 pandas.eval()

열단위 연산을 위한 DataFrame.evel()

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(42)
df = pd.DataFrame(rng.rand(1000,3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.374540  0.950714  0.731994
1  0.598658  0.156019  0.155995
2  0.058084  0.866176  0.601115
3  0.708073  0.020584  0.969910
4  0.832443  0.212339  0.181825

In [3]:
result1 = ((df['A'] + df['B'])/ (df['C'] - 1))
result1.head()

0    -4.944867
1    -0.894161
2    -2.317108
3   -24.215802
4    -1.276966
dtype: float64

In [7]:
result2 = df.eval('(A+B)/(C-1)') #훨씬 간결하다
result2.head()

0    -4.944867
1    -0.894161
2    -2.317108
3   -24.215802
4    -1.276966
dtype: float64

In [8]:
# 새로운 열을 만들어 할당하는데 사용

df.eval('D=(A+B)/C', inplace=True)
df.head()

          A         B         C         D
0  0.374540  0.950714  0.731994  1.810472
1  0.598658  0.156019  0.155995  4.837844
2  0.058084  0.866176  0.601115  1.537576
3  0.708073  0.020584  0.969910  0.751263
4  0.832443  0.212339  0.181825  5.746085

In [9]:
df.eval('D=(A+B)/C')
df.head()

C:\Users\jsong\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: eval expressions containing an assignment currentlydefault to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.
  """Entry point for launching an IPython kernel.

          A         B         C         D
0  0.374540  0.950714  0.731994  1.810472
1  0.598658  0.156019  0.155995  4.837844
2  0.058084  0.866176  0.601115  1.537576
3  0.708073  0.020584  0.969910  0.751263
4  0.832443  0.212339  0.181825  5.746085

In [11]:
# 같은 방법으로 어느 열이든 수정 가능하다

df.eval('D=(A-B)/C', inplace=True)
df.head()

          A         B         C         D
0  0.374540  0.950714  0.731994 -0.787130
1  0.598658  0.156019  0.155995  2.837535
2  0.058084  0.866176  0.601115 -1.344323
3  0.708073  0.020584  0.969910  0.708816
4  0.832443  0.212339  0.181825  3.410442

In [12]:
#추가적인 파이선 변수와 함께 작업 가능

column_mean = df.mean(1)
result1 = df['A'] + column_mean
result1.head()

0    0.692070
1    1.535710
2    0.103347
3    1.309918
4    1.991705
dtype: float64

In [13]:
result2 = df.eval('A + @column_mean')
result2.head()

0    0.692070
1    1.535710
2    0.103347
3    1.309918
4    1.991705
dtype: float64

In [14]:
np.allclose(result1, result2)

True

DataFrame.query() 메서드 == 문자열이나 부울문에 eval() 처럼 사용됨

In [18]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [19]:
#DataFrame eval()로는 에러 발생

result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = df.eval('(A < 0.5) & (B < 0.5)')
np.allclose(result1, result2)

ValueError: operands could not be broadcast together with shapes (238,4) (1000,)

In [20]:
# 이러한 유형은 query()를 활용한다

result2 = df.query('A<0.5 & B<0.5')
np.allclose(result1, result2)

True

In [21]:
#추가적인 파이선 변수와 함께 작업 가능

Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A<@Cmean & B<@Cmean')
np.allclose(result1, result2)

True