Numpy로 산술 연산 작업 용이

Pandas는 
(1) 유연성: 데이터에 레이블을 붙이거나 누락된 데이터 작업하는 등
(2) 브로드캐스팅 한계 극복: 그룹화 피벗팅 등

==> 데이터 먼징(data munging) 작업을 용이하게 함

Pandas 주요 기본 자료 구조

(1) Sereis = 인덱싱된 데이터의 1차 배열
             values와 index 속성으로 접근
             **명시적 인덱스 존재**
             **특수한 딕셔너리로 생각 가능**
(2) DataFrame = 유연한 행 인덱스와 유연한 열 = 일반화된 Numpy 2차원 배열
                정렬된 Sereis 객체의 연속(정렬의 의미는 같은 *인덱스*를 공유한다는 뜻)
                명시적 행의 인덱스 존재, 그리고 열 레이블이 가진 Index 객체인 **columns 속성**
                **특수한 딕셔너리로 생각 가능**
(3) Index = 하나의 배열이다(슬라이싱 가능 등 Numpy의 배열과 유사한 속성 가짐)
            **Numpy의 일반적인 지정을 통하여는 변경 될 수 없다**
            **파이선의 집합 데이터 구조를 따름 => 합집합, 교집합등 집합 연산 가능
              (데이터들의 간의 조인과 같은 연산을 할때 유용하게 활용 될 수 있다)

In [2]:
import numpy as np
import pandas as pd

Pandas Series 객체 특성

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [5]:
data.index # pd.index 와 비슷한 객체임

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
# 문자열로 인덱스 만들기

data = pd.Series([0.25, 0.5, 0.75, 10.], index=['a', 'b', 'c', 'd'])
data

a     0.25
b     0.50
c     0.75
d    10.00
dtype: float64

In [9]:
data['b'] # 문자형 인덱스는 '' 가 필수임

0.5

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 10.], index=[2,5,3,7])
data

2     0.25
5     0.50
3     0.75
7    10.00
dtype: float64

In [11]:
data[5]

0.5

In [12]:
population_dict = {'California': 38332521,
                  'Texas': 26448189,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448189
dtype: int64

In [13]:
population['California']

38332521

In [14]:
# 딕셔너리와는 달리 슬라이싱 지원(**주의: 명시적인 인덱스는 포함됨)
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [15]:
# data는 Numpy 배열이나 리스트 일 수 있는데 그 때 인덱스는 정수가 기본
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [16]:
# data는 지정된 인덱스를 채우기 위한 반복되는 스칼라 값일 수 있다
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [17]:
# 데이터는 딕셔너리 일 수 있는데 인뎃는 기본적으로 딕셔너리의 키값이다

pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [18]:
# 인덱스를 명시적으로 정하면 명시된 것만 순서데로 나타난다

pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

Pandas DataFrame 객체 특성

In [19]:
area_dict = {'California': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [20]:
# 두개의 Series 객체를 가지고 딕셔너리를 활용하여 2차원 객체인 DataFrame 만들기

states = pd.DataFrame({'population': population,
                      'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448189

In [21]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [22]:
# 열 레이블이 가진 Index 객체인 columns 속성을 가지고 있다.
states.columns

Index(['area', 'population'], dtype='object')

In [23]:
# 일반화된 딕셔너리로 볼 수도 있다

states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

DataFrame 객체 구성하기

In [28]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448189

In [30]:
# 딕셔너리의 리스트를 가지고 DataFrame 만들기
data = [{'a': i, 'b': 2*i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [31]:
# 딕셔너리의 일부 키값이 누락 되더라도 NaN(not a number) 로 채움
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [32]:
# DataFrame은 Series 객체의 딕셔너리로 구성 될 수도 있음
pd.DataFrame({'population': population,
             'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448189

In [30]:
# Numpy 의 배열에서 구성하기(columns 지정해야 하고 인덱스는 지정 가능하고 안하면 정수가 디폴트)

pd.DataFrame(np.random.rand(3,2))

          0         1
0  0.255682  0.829939
1  0.243071  0.740042
2  0.481782  0.170587

In [34]:
# Numpy의 구조화된배열에서 만들기
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0,  0.), (0,  0.), (0,  0.)],
      dtype=[('A', '<i8'), ('B', '<f8')])

In [35]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

Pandas Index 객체

In [36]:
ind = pd.Index([2,3,5,7,11]) # 판다스에서 인덱스 배열임을 명시적으로 따로 표시해준다
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [37]:
ind[1]

3

In [38]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [39]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [40]:
ind[1 = 0] # Numpy와 같은 방식으로 인덱스 변경 불가

SyntaxError: invalid syntax (<ipython-input-40-a997dbcc082f>, line 1)

**인덱스 정렬된 집합**

In [44]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])
indA & indB #교집합

Int64Index([3, 5, 7], dtype='int64')

In [45]:
indA | indB # 합집합

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [46]:
indA ^ indB # 합집합 - 교집합

Int64Index([1, 2, 9, 11], dtype='int64')