Numpy는 문자열을 다루는데 한계가 많은 반면 Pandas는 여러가지 기능을 제공한다.

Pandas는 문자열을 단고 있는 Pandas Series와 Index 객체의 str 속성을 통해 벡터화된 문자열 연산을 수행하고 누락된 데이터를 올바르게 처리하기 위한 기능을 제공한다.

In [2]:
import pandas as pd
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']

In [3]:
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [4]:
# str 속성에 탭 자동완성 사용하면 pandas의 모든 벡터화된 문자열 메서드의 목록 볼 수 있고...
# 첫 글자만 대문자로 바꾸기
 
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

Pandas의 문자열 메서드 목록 사용해 보기 

페이지 210 참조

In [5]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                  'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [6]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [7]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [11]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [12]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

정규 표현식을 활용하는 메서드 (페이지 212 표 참조)

기타 메서드 (페이지 213 참조)

In [13]:
# 이름 부분 추출하기

monte.str.extract('([A-Za-z]+)')

C:\Users\jsong\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [14]:
#자음으로 시작하고 자음으로 끝나는 모든 이름 찾기

monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [15]:
monte.str[0:3] # 문자열의 처음 3글자

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [16]:
# 성만 가져 오고 싶다면... split & get을 동시에 이용함

monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

get_dummy() 데이터가 일종의 코딩된 지시자를 포함한 열을 가지고 있을때 유용함
예를 들어 데이터 세트가 A = 'born in America', B = 'born in UK', C = 'likes cheese', D = 'likes spam'과
같은 코드 형태의 정보를 포함 할 수도 있는 경우

In [17]:
full_monte = pd.DataFrame({'name': monte,
                          'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

    info            name
0  B|C|D  Graham Chapman
1    B|D     John Cleese
2    A|C   Terry Gilliam
3    B|D       Eric Idle
4    B|C     Terry Jones
5  B|C|D   Michael Palin

In [19]:
# get_dummies()로 신속하게 나누기

full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

조리법 예제는 다운로드 불가로 실행 불가